.game-section{
    margin-top: 60px;
}
.Sports-section{
    width: 100%;
    display: flex;
    justify-content: center;
}
.game-section h1{
    /* font-family: 'Poppins', sans-serif; */
    text-align: center;
    font-weight: 600;
}
.sports-container{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}